$main-color: #435ebe;
$secondary-color: #ff7782;
$title-color: #25396f;
$black: #222;
$white: #fff;
$light-color: #607080;
$light-bg: #f2f7ff;
$dark-bg: #e5effc;
$border: .2rem solid $main-color;
$box-shadow: 0 .5rem 1rem rgba(0, 0, 0, .1);
